.container{
    width: 1200px;
    display: flex;
    margin:0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.min-height {
    min-height: 75%;
}

.start {
    justify-content: flex-start;
}

.collumn {
    flex-direction: column;
    justify-content: flex-start;
}